@tailwind base;
@tailwind components;
:root{
    --main-color: #e21f24;
    --main-color-2:#b91c1c;
    --second-color: #f2d70d;
    --second-color-2:#fbbf24;
    --text-color-dark:#000;
    --text--color-light:#fff;
}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirNormal.otf');
}
body{
font-family: "Avenir";
font-size: 1rem;
}
main{
    padding-top: 65px;
}
.headernav{
    border-top: 8px solid var(--second-color-2);
}
.navlink{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: all .5s ease;
    outline: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    @apply px-4 py-2 mt-2 text-sm font-semibold text-center md:mt-0 md:ml-4 hover:text-white focus:outline-none focus:ring;
}
.navlink:hover{
    color: var(--main-color);
    background-size: 100% 3px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.navactive{
    color: var(--main-color);
    background-size: 100% 3px;
}
.submenuboton{
    @apply flex flex-row justify-center text-gray-900 items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 border-2 border-transparent hover:text-red-700 focus:text-red-700 hover:border-red-700 focus:border-red-700 focus:outline-none focus:ring;
}
.submenubotonactive{
    @apply flex flex-row justify-center items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 border-2 text-red-700 border-red-700 focus:outline-none focus:ring;
}
.submenulink{
    @apply flex flex-row items-start rounded-lg bg-transparent p-2 hover:text-gray-900 focus:text-gray-900 hover:bg-red-200 focus:bg-red-200 focus:outline-none focus:ring;
}
.submenulinkicono{
    @apply bg-red-600 text-white rounded-lg p-3;
}
/*--------- DESC. INICIAL, CHICHARRONES, COMENTARIOS-----------*/
.contenedortotal{
    @apply  flex text-center;
}
.contenedorimg{
    @apply lg:w-5/12;
}
.contenedorinfo{
    @apply flex flex-col lg:flex-row justify-between items-center;
}
.subcontenedorinfo{
    @apply lg:w-7/12 lg:p-0 p-7 mx-7;
}
.botonesinfo{
    @apply text-white rounded-full py-2 px-5 text-base border-yellow-400 bg-yellow-400 hover:bg-white hover:text-yellow-400 inline-block border transition-all;
}
.parrafoinfo{
    @apply text-sm lg:text-lg text-gray-600 text-center px-5 mx-0 md:px-10 md:mx-20;
}
/*-------------- SERVICIOS Y MAPA -----------------------*/
.card {
    @apply w-full h-full text-center items-center px-4;
}
.icono{
    @apply w-28 h-28 box-border border-4 inline-block mb-4 p-4 rounded-xl transform rotate-45 border-yellow-300 cursor-text;
}
.icono2{
    @apply flex justify-center;
}
.card .icono .material-icons{
    @apply text-red-700 transform -rotate-45;
}
.infoservices{
    @apply px-10 py-6 mb-5 text-center;
}
.subtitulo{
    @apply font-bold text-xl mb-4;
}
.parrafo{
    @apply text-base;
}
.content-whatsapp{
    @apply block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110;
}
.icono-whatsapp{
    color: #28a745;
    @apply object-cover bg-white object-center w-full h-full rounded-full;
}
.icono-whatsapp:hover{
    color:white;
    background-color: #28a745;
}
/*---- SERVICIOS ----*/
.serviciocontenedor{
  @apply grid sm:grid-cols-1  md:grid-cols-1 lg:grid-cols-2 bg-white;
}
.servicioimagenes{
    @apply grid grid-cols-1 md:grid-cols-2 m-3 md:m-10 gap-7 p-3 md:p-8;
}
.servicioimagenes div{
    @apply w-full;
}
.servicioimagenes div img{
    @apply w-64 h-auto mx-auto;
}
.serviciodescrip{
    @apply text-center rounded-2xl px-10 mx-0 md:mx-10 my-10;
}
.serviciodescrip svg{
    @apply inline-block h-24 w-24 text-red-600;
}
.serviciodescrip div div div h2{
    @apply font-bold text-3xl mb-2;
}
.serviciodescrip div div p{
    @apply text-lg;
}
/*-------- PRODUCTOS ---------------*/
.product-content-title{
    @apply pt-20 pb-10 text-center;
}
.product-title{
    @apply text-2xl underline font-semibold md:text-4xl text-yellow-500;
}
.product-content-card{
    @apply  lg:py-12 lg:flex lg:justify-center;
}
.product-card{
    @apply  w-full lg:mx-8 lg:flex lg:rounded-lg;
}
.product-card-img{
    @apply h-64 bg-contain bg-no-repeat bg-center lg:h-full;
}
.product-card-info{
    @apply py-12 px-6 w-full lg:w-1/2 mx-auto;  
}
.product-card-h2{
    @apply text-3xl text-gray-800 font-bold;
}
.product-card-p{
    @apply mt-4 text-gray-600;
}
.product-card-btn{
    @apply bg-red-800 text-gray-100 px-5 py-3 font-semibold rounded;
}
/*------- FOOTER ------------*/
.submenuitem{
    @apply w-48 h-48 sm:w-60 sm:h-60 mx-auto my-3 rounded-sm overflow-hidden relative transform hover:scale-105 transition-all duration-700 box-border;
}
.submenuitem a img{
    @apply w-full h-full object-cover object-center absolute z-0;
}

.footer{
    @apply bg-gray-100 pt-10 sm:mt-10 border-t border-red-600;
}
.footer2{
    @apply max-w-6xl m-auto text-gray-800 flex flex-wrap;
}
.linksfooter{
    @apply my-3 flex items-center justify-center md:justify-start text-white hover:text-yellow-400 text-sm font-medium duration-700 overflow-hidden;
}
.iconfooter{
    @apply w-10 mx-1;
}
.sv{
    @apply h-9 w-9 p-1 rounded-md bg-white text-red-700 hover:text-yellow-500;
}
/*Swiper*/
.swiper-container {
    width: 100%;
    height: calc(100vh - 65px);
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/*Swiper*/
@media (min-width: 768px) {
    .swiper-button-next, .swiper-button-prev{
        border-radius: 50% !important;
        width: 55px !important;
        height: 55px !important;
    }
    .swiper-button-next:hover, .swiper-button-prev:hover,.swiper-button-next:focus, .swiper-button-prev:focus{
        background-color: #b91c1c !important;
        color: #fff !important;
        transition: all;
        transition-duration: 500ms;
    }
}
.swiper-button-next, .swiper-button-prev{
    color: #b91c1c !important;
}
.swiper-pagination-bullet-active {
    background-color: #b91c1c !important;
}
@tailwind utilities;