@tailwind base;
@tailwind components;
:root{
    --main-color: #dc2626;
    --main-color-2:#b91c1c;
    --second-color: #fcd34d;
    --second-color-2:#fbbf24;
    --text-color-dark:#000;
    --text--color-light:#fff;
}
main{
    padding-top: 82px;
}
.navlink{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    @apply px-4 py-2 mt-2 text-sm font-semibold text-center md:mt-0 md:ml-4 hover:text-white focus:text-white focus:outline-none focus:ring;
}
.navlink:hover{
    color: var(--main-color);
    background-size: 100% 3px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.navactive{
    @apply text-white;
    color: var(--main-color);
    background-size: 100% 3px;
}
.submenuboton{
    @apply flex flex-row justify-center text-gray-900 bg-red-200 items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-red-100 focus:bg-red-100 focus:outline-none focus:ring;
}
.submenulink{
    @apply flex flex-row items-start rounded-lg bg-transparent p-2 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:ring;
}
.submenulinkicono{
    @apply bg-red-500 text-white rounded-lg p-3;
}
@tailwind utilities;